<mat-toolbar [style.background-color]="theme.primary">{{question.title}}</mat-toolbar>
<mat-progress-bar mode="determinate" [value]="progression" color="warn"></mat-progress-bar>

<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile class="subtitle" [rowspan]="1" [style.background-color]="theme.primaryLight">
    <h4 [innerHtml]="question.text"></h4>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <img [src]="question.image" height="150px"><br>
  </mat-grid-tile>
</mat-grid-list>

<footer>
  <div>
    <button mat-raised-button [style.background-color]="theme.secondaryLight" (click)="openDialog()">Répondre</button>
  </div>
  <div class="line" [style.background-color]="theme.primaryLight"></div>
</footer>
