footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 86px;
}

.line {
  margin-top: 10px;
  height: 48px;
}

h4 {
  margin-right: 15px;
  margin-left: 15px;
}
