footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 190px;
}

.line {
  height: 25px;
}

.button {
  height: 125px;
  padding-top: 20px;
  padding-bottom: 20px;
}
