footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 173px;
}

.line {
  height: 48px;
}

.button {
  height: 125px;
}

mat-form-field {
  width: 248px;
}
