<mat-toolbar [style.background-color]="theme.primary">{{mainPage.title}}</mat-toolbar>

<mat-grid-list cols="1" rowHeight="75px">
  <mat-grid-tile class="subtitle" [rowspan]="1" [style.background-color]="theme.primaryLight">
    <h1>{{mainPage.subtitle}}</h1>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <div class="description">
    {{mainPage.description}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2">
    <img [src]="mainPage.image" height="150px"><br>
  </mat-grid-tile>
</mat-grid-list>


<footer>
  <div class="answer-input">
    <a mat-raised-button [style.background-color]="theme.secondaryLight" routerLink="questions">Let's go !!!</a>
  </div>
  <div class="line" [style.background-color]="theme.primaryLight">

  </div>
</footer>
